* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,a{
	font-family: 'Open Sans', sans-serif;
}
body {
	background: var(--gradient, #0E202C);
}
.container {
	width: 1260px;
	margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/titles';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/offer';