// Home page title
.title {
	color: #FFF;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 30px;
	&_mb{
		margin-bottom: 35px;
	}
}
.subtitle {
	text-align: center;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
}

.icon {
	margin-top: 275px;
	&__title {
		margin-top: 18px;
		color: #FFF;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 2.5px;
	}
	&__subtitle {
		margin-top: 27px;
		color: #FFF;
		font-size: 20px;
		font-weight: 400;
	}
}